* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

img {
  border-radius: 15rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background-color: #2a2829;
}

.container {
  position: relative;
  width: calc(100% - 10rem);
  min-height: calc(100vh - 28rem);
  min-height: 30rem;
  background: rgba(247, 243, 243, 0.5);
  border-radius: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

header {
  position: absolute;
  top: 0;
  right: 2rem;
  left: 2rem;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  backdrop-filter: blur(1.5rem);
  border: 0.1rem solid #493736;
  border-top: 0.1rem solid #493736;
  border-left: 0.1rem solid #493736;
  margin-bottom: 5rem; /* Espaçamento entre header e conteúdo */
}

header .logo {
  color: #668284;
  font-weight: 700;
  text-decoration: none;
  font-size: 3.2rem;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 1rem;
}

header ul li a {
  text-decoration: none;
  color: #668284;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border-radius: 2.5rem;
}

header ul li a:hover,
header ul li a.active {
  background-color: aliceblue;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.conteudo {
  transform: translateX(0);
  background: rgba(255, 255, 255, 0.2);
  max-width: 70rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1.5rem);
  border: 0.1rem solid #493736;
  border-top: 0.1rem solid #493736;
  border-left: 0.1rem solid #493736;
  padding: 4rem;
  margin-left: 5rem; /* Espaçamento entre conteudo e imagem_principal */
}

.conteudo h2 {
  padding-bottom: 1rem;
  font-size: 4.8rem;
  color: #668284;
  font-weight: bold;
}

.conteudo p {
  font-size: 1.92rem;
  color: #668284;
  font-weight: bold;
}

.conteudo a {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #b9d7d9;
  color: #668284;
  margin-top: 2rem;
  border-radius: 3rem;
  text-decoration: none;
  font-size: 1.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.imagem_principal {
  margin-left: 5rem; /* Espaçamento entre conteudo e imagem_principal */
}

.imagem_principal img {
  width: 40rem;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
}

.icones {
  position: absolute;
  right: -2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icones li {
  list-style: none;
}

.icones li a {
  text-decoration: none;
  width: 7rem;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1.5rem 0; /* Aumentando a margem */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.icones li a img {
  width: 3rem;
  transform: scale(0.7);
  transition: 0.5s;
}

.icones li:hover a img {
  transform: scale(0.7) rotate(300deg);
}

@media screen and (max-width: 1200px) {
  .container {
    position: relative;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 992px) {
  section {
    padding: 70px 20px 20px; /* Aumentando o padding */
  }
  .container {
    flex-direction: column;
    height: auto;
    padding: 40px; /* Aumentando o padding */
  }
}

.container .conteudo {
  transform: translateX(0);
  max-width: 100%;
  margin-top: -2rem;
  padding: 3rem;
}

header {
  position: relative;
  flex-direction: column;
  width: 100%;
  top: 0;
  padding: 2rem;
  right: 0;
  left: 0;
  margin-bottom: 5rem; /* Espaçamento entre header e conteúdo */
}

header ul {
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

header ul li {
  margin: 0.3rem;
}

header ul li a {
  display: inline-block;
  font-size: 1em;
}

.imagem_principal {
  margin-bottom: 5rem; /* Mantendo o espaçamento */
}

.conteudo {
  font-size: 1em;
  padding: 1rem 2rem;
  margin-left: 5rem; /* Espaçamento entre conteudo e imagem_principal */
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(30px);
  }
}

.icones {
  position: relative;
  flex-direction: row;
  left: 0;
}

.icones li a {
  margin: 0 1rem;
}

@media screen and (max-width: 600px) {
  .container .conteudo {
    margin-top: -20px; /* Ajustando a margem */
  }
  .conteudo h2 {
    font-size: 2em;
  }
  .conteudo p {
    font-size: 0.7em;
  }

  .imagem_principal img {
    max-width: 300px;
  }
  .icon li a {
    width: 35px;
    height: 35px;
  }
}
